<!DOCTYPE html>
<html>

<% include ../partials/head %>

<body>
    <% include ../partials/header %>
    <% include ../partials/menu %>
    <% include ../partials/new-post %>

    <div class="container">
        <h5>
            <b><%= user.username %>'s profile</b>
        </h5>
    </div>

    <% include ../partials/footer %>
</body>

</html>