<!DOCTYPE html>
<html>

<% include ../partials/head %>

<body>
    <% include ../partials/header %>

    <% if (typeof user != 'undefined') { %>
    <% include ../partials/menu %>
    <% include ../partials/new-post %>
    <%  } %>

    <div id="profileHeading" class="container center">
        <% if (self == true && typeof user != 'undefined') { %>
            <h3><b>My Profile</b></h3>
            <% if (posts.length == 0) { %>
                <p class="grey-text">start uploading by clicking the flower below!</p>
            <%  } %>
        <%  } else { %>
            <div class="row">
                <h3><b><%= foundUser.username %></b></h3>
                <img data-src="<%= foundUser.thumbnail %>" class="lazy circle profile">
            </div>
            <div id="follow" class="col s6 offset-s3 l8 offset-l2 btn add-btn"></div>
            <% if (posts.length == 0) { %>
                <p class="grey-text">this user has not uploaded any public posts :(</p>
            <%  } %>
        <%  } %>

        <div id="profile" class="row">
            <div class="cards-container col s12">
                <% posts.forEach(function(post) { %>
                <%  include ../partials/post-gallery %>
                <%  }) %>
            </div>
        </div>
    </div>

    <% include ../partials/footer %>
</body>

</html>