<div class="navbar-fixed">
    <nav class="z-depth-0">
        <div class="nav-wrapper container">
            <a href="/"><span>kizuna</span></a>
            <span class="right white-text">
                <i class="material-icons sidenav-trigger" data-target="menu">menu</i>
            </span>
        </div>
    </nav>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large add-btn sidenav-trigger" data-target="new-post">
        <img src="/img/android-chrome-192x192.png" alt="kizuna">
    </a>
</div>