<div class="navbar-fixed">
    <nav class="z-depth-0">
        <div class="nav-wrapper container">
            <% if (typeof user != 'undefined') { %>
            <a href="/"><span>kizuna</span></a>
            <span class="right white-text">
                <i class="material-icons sidenav-trigger" data-target="menu">menu</i>
            </span>
            <% } else { %>
            <a href="/"><span class="brand-logo center">kizuna</span></a>
            <% } %>
        </div>
    </nav>
</div>

<% if (typeof user != 'undefined') { %>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large add-btn sidenav-trigger loading" data-target="new-post">
        <img src="/img/android-chrome-192x192.png" alt="kizuna">
    </a>
</div>
<% } %>