<ul id="menu" class="sidenav menu">
    <div class="row valign-wrapper">
        <div class="col s3">
            <a href="/profile/">
                <img src="<%= user.thumbnail %>" class="circle responsive-img">
            </a>
        </div>
        <div class="col s3">
            <a class="btn menu-btn" href="/profile/">
                <i class="medium material-icons">person</i>
            </a>
        </div>
        <div class="col s3">
            <a class="btn menu-btn" href="/profile/feed/">
                <i class="medium material-icons">dashboard</i>
            </a>
        </div>
        <div class="col s3">
            <a class="btn logout" href="/auth/logout">
                <i class="medium material-icons">exit_to_app</i>
            </a>
        </div>
    </div>
    <li>
        <div class="divider"></div>
    </li>
    <div class="nav-wrapper">
        <form id="search">
            <div class="input-field">
                <input id="searchTerm" placeholder="search for a friend" type="search" required>
                <label class="label-icon" for="search">
                    <button type="submit">
                        <i class="material-icons">search</i>
                    </button>
                </label>
                <i id="clearSearch" class="btn-flat material-icons">close</i>
            </div>
        </form>
        <div id="progress" class="#">
            <div class="indeterminate"></div>
        </div>
        <div id="results"></div>
    </div>
    <ul>
        <li><a href="/terms-conditions" class="grey-text sidenav-close">Terms And Conditions</a></li>
        <li><a href="/privacy-policy" class="grey-text sidenav-close">Privacy Policy</a></li>
    </ul>
</ul>