<div id="new-post" class="sidenav new-post">
    <form class="container section" id="post" enctype="multipart/form-data">
        <h6>new post</h6>
        <div class="divider"></div>
        <div class="file-field input-field">
            <div class="btn add-btn">
                <i class="large material-icons">collections</i>
                <input type="file" id="fileSelected" data-maxwidth="800" data-maxheight="800" accept="image/*" required>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
        <div id="preview"></div>
        <div class="input-field">
            <input placeholder="e.g. my awesome pic!" id="caption" type="text">
            <label for="caption">caption</label>
        </div>
        <p>
            <label>
                <input id="private" type="checkbox">
                <span>Private</span>
            </label>
        </p>
        <div id="uploadProgress" class="#">
            <div class="indeterminate"></div>
        </div>
        <div id="uploadingMessage"></div>
        <button class="btn right" type="submit">post
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>

<div id="cropModal" class="modal">
    <div class="modal-footer">
        <div class="row center">
            <div class="col s4">
                <button id="rotateLeft" class="btn material-icons">rotate_left</button>
            </div>
            <div class="col s4">
                <button id="crop" class="btn modal-close material-icons">crop</button>
            </div>
            <div class="col s4">
                <button id="rotateRight" class="btn material-icons">rotate_right</button>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="img-container">
            <img id="image" src="#" alt="Picture">
        </div>
    </div>
</div>