/* colours */
:root {
    --primary: #086788;
    --title: #FFFFFF;
    --complementary: #DD1C1A;
}

/* layout styles */
html,
body,
.login {
    height: 95%;
}

img {
    max-width: 100%;
}

i {
    cursor: pointer;
}

a {
    cursor: pointer;
}

nav {
    background: var(--primary);
}

nav a {
    color: var(--title);
}

nav a span {
    font-weight: bold;
    font-size: x-large;
}

nav .sidenav-trigger {
    margin: 0;
}

#menu ul {
    justify-content: space-between;
    position: fixed;
    bottom: 60px;
    margin-left: 30px;
}

#menu ul li {
    list-style-type: none;
    display: inline;
}

#menu ul li a {
    display: inline;
    font-size: 12px;
    padding: 10px;
}

#menu .row {
    margin-top: 10px;
}

#menu div .btn {
    background: var(--complementary);
    box-shadow: 1px 1px 3px rgba(90, 90, 90, 0.2);
}

/* terms and privacy policy styles */
#legal h1 {
    font-size: 35px;
    font-weight: bold;
}

#legal h2 {
    font-size: 30px;
    font-weight: bold;
}

#legal h3 {
    font-size: 25px;
    font-weight: bold;
}

#legal h4 {
    font-size: 20px;
    font-weight: bold;
}

#legal p {
    font-size: 16px;
}

#legal ul li {
    list-style: disc;
    list-style-position: outside;
    margin-left: 1em;
}

/* form-styles */
input {
    box-shadow: none;
    -webkit-box-shadow: none;
}

form .input-field {
    margin-top: 30px;
}

.add-btn {
    background: var(--primary);
}

.add-btn img {
    padding: 12px;
}

.new-post button {
    background: var(--complementary);
    box-shadow: 1px 1px 3px rgba(90, 90, 90, 0.2);
}

/* social login styles */
.google {
    background: #DB3236;
}

.twitter {
    background: #1DA1F2;
}

.facebook {
    background: #3B5998;
}

.instagram {
    background: #3F729B;
}

/* modal styles */
.modal {
    z-index: 9999;
    overflow: hidden;
}

.img-container {
    height: 400px;
}

.modal-footer button {
    background: var(--primary);
    width: 80%;
}

/* toast styles */
#toast-container {
    top: auto !important;
    right: auto !important;
    min-width: 10% !important;
    bottom: 5%;
    left: 5%;
}

/* profile styles */
#profileHeading h3 {
    text-align: center;
    font-size: 2rem;
}

#profileHeading p {
    margin-top: 25px;
    font-size: 16px;
}

#profileHeading img.lazy.profile {
    width: 8rem;
    display: block;
    margin: 0 auto;
    background-image: url('/img/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 20%;
}

#profile {
    margin-top: 25px;
}

.cards-container {
    break-inside: avoid;
}

#gallery img.lazy {
    width: 800px;
    display: block;
    padding: 5%;
    background-image: url('/img/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 20%;
}

.row .col.s4 {
    padding: 0;
}

/* post styles */
#postContainer .container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#postContainer .container .row {
    margin: 0 auto;
}

#newComment {
    margin-left: 30px;
    width: 90%;
}

.card-title a {
    text-decoration: inherit;
    color: inherit;
}

#postContainer img {
    width: 800px;
    display: block;
    background-image: url('/img/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 20%;
}

/* feed styles */
#feed img.lazy {
    width: 800px;
    display: block;
    background-image: url('/img/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 20%;
}

#feed img.lazy.profile {
    width: 50px;
    display: block;
    background-image: url('/img/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 20%;
}

#feed h6 {
    padding: 0;
    text-align: center;
}

#feed .divider {
    margin: 20px;
}

#feed a {
    text-decoration: inherit;
    color: inherit;
}